{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<style>
body {
  margin-top: 20px;
}

.card {
  border: none;
}

.card-img {
  border-radius: 0;
}

.vgr-cards .card {
  display: -webkit-box;
  display: flex;
  flex-flow: wrap;
  -webkit-box-flex: 100%;
          flex: 100%;
  margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.vgr-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}
.vgr-cards .card-img-body {
  -webkit-box-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.vgr-cards .card-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: auto;
  }
}
.vgr-cards .card-body {
  -webkit-box-flex: 2;
          flex: 2;
  padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card-body {
    padding: 0;
  }
}

</style>
{% endblock extrahead %}

{% block title %}
SP Home
{% endblock title %}

{% block content %}
    
<div class="card-group vgr-cards">
<div class="card">
<div class="card-img-body">
<i class="fas fa-id-card fa-10x"></i>
</div>
<div class="card-body">
<h4 class="card-title">Create your keycards</h4>
<p class="card-text">You just need to register your employees and you can create and download key cards with qr codes for a safe and fast login process</p>
</div>
</div>
<div class="card">
<div class="card-img-body">
<i class="fas fa-qrcode fa-10x"></i></div>
<div class="card-body">
<h4 class="card-title">Scan the code</h4>
<p class="card-text">Just scan the code on your computer or phone and we will keep track of everything</p>
</div>
</div>
<div class="card">
<div class="card-img-body">
<i class="fas fa-business-time fa-10x"></i>
</div>
<div class="card-body">
<h4 class="card-title">Get the timesheet</h4>
<p class="card-text"> With one click get the time worked for each employee, between two dates. Acurate, fast and concise</p>

<a href="{% if request.user.is_authenticated %}{% url 'core:eventlist' %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-primary">Go</a>
</div>
</div>
</div>
{% endblock content %}