{% extends "base.html" %}

{% load static %}
{% block title %}
{{request.user}}'s Atendence
{% endblock title %}

{% block extrahead %}
<style type="text/css"> .pt-3-half {
padding-top: 1.4rem;
}</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock extrahead %}

{% block content %}



<div class='container'>
    <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Atendence</h3>
  <div class="card-body">
    <div id="table" >
      
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center"></th>
            <th class="text-center">Start time</th>
            <th class="text-center">End time</th>
            <th class="text-center">View</th>
          </tr>
        </thead>
        <tbody>

          
          <tr id='1'>
            <td class="pt-3-half" ></td>
            <td class="pt-3-half" >
                <div class="form-group">
                <div class="input-group date" id="start" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#start"/>
                    <div class="input-group-append" data-target="#start" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#start').datetimepicker({defaultDate: Date.now()});

            });
        </script>
            </td>
            <td>
              <div class="form-group">
                <div class="input-group date" id="end" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#end"/>
                    <div class="input-group-append" data-target="#end" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            $(function () {
                $('#end').datetimepicker({defaultDate: Date.now()});
                $('#end').datetimepicker({
                    date:Date.now()
                });

            });
        </script>
            </td>
            <td>{% csrf_token %}
            <span class="create"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Make</button></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<table id="display" class='table table-bordered table-responsive-md table-striped text-center'>

        </table>
<script>
const $tableID = $('#table');
 $tableID.on('click', '.create', function () {
   var start = $('#start').data('date');
   var end = $('#end').data('date');
   console.log(start,end);
   var name = $('#name-select').val();
   $.ajax({
        url : "{% url 'core:norma'%}", // the endpoint
        
        type : "POST", // http method
        data : { 'user':{{request.user.pk}},
        'start':start,'end':end,csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        }, // data sent with the post request
     
        // handle a successful response
        success : function(data) {
            console.log(data);
            $.each(data, function(key, val) {
    $('<tr><td>'+key+'</td><td id="'+key+'">'+val+'</td><tr>').appendTo('#display');
});
	},

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
 });
   
 
</script>
{% endblock content %}